.navbar{
    margin-top: 2%; 
}
#cabecalho {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/alt_R_rosa\ cha_ret.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.text1 {
    margin-top: 3%;
    margin-bottom: 1%;
}

.fig1 {
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.botao1 {
    margin-left: 30%;
}

.text2 {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 1%;
}

.fig2 {
    margin-top: 3%;
    margin-left: 1%;
    margin-bottom: 5%;
}

.botao2 {
    margin-left: 30%;
    bottom: 2%;
  
}

.sect2 {
    height: 55vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/alt_R_rosa\ chaesc_ret.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.text3{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    margin-bottom: 0%;

}
.sect3 {
    height: 55vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.text4 {
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    margin-bottom: 0%;
}

.fig4 {
    margin-bottom: 3%;
}

.rodape {
    height: 15vh;
    background-color: rgb(66, 63, 63);
    margin-left: 14px;

    }

.textfinal1 {
    margin-top: 4px;    
    margin-bottom: 2px;
    margin-left: 94%;
}
.textfinal2 {
    margin-top: 4px;    
    margin-bottom: 2px;
    margin-left: 70%;
}
a {
    border-radius: 0% !important;
    
}
.btn-outline-primary, .btn-primary{
    background-color: rgb(133, 16, 241);
    border-color: rgb(133, 16, 241) ;
}
